main {
    font-family: "Outfit", sans-serif;
    background-color: #d5e1ef;
    display: flex;
    height: 100vh;
}

.card{
    width: 288px;
    height: 465px;
    margin: auto;
    padding: 16px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
    text-align: center; 
    display: flex;
    flex-direction: column;

}
.image{  
    border-radius: 10px;
    width: 288px;
}
.title{
    font-size: 22px;
    font-weight: 700;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.subtitle{
    font-size: 15px;
    font-weight: 400;
    color: #8b8f97;
    padding: 20px;
    margin: 0;

}

.attribution { 
    font-size: 11px; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
